.fullsize{
    border: none;
    z-index: 999;
    cursor: zoom-out;
    display: block;
    width: 800;
    max-width: 800;
    height: 900;
    position: fixed;
    left: 50%;
    top: 50%;
    right: 50%;

}